<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" packages="org.comroid.status" status="debug">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="logfile" filename="/home/comroid/srv_status/latest.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef level="debug" ref="console"/>
            <AppenderRef level="all" ref="logfile"/>
        </Root>
    </Loggers>
</Configuration>
