<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" packages="org.comroid.status" status="debug">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=none, DEBUG=green bold, TRACE=blue, ALL=magenta bold}"/>
        </Console>
        <File name="logfile" filename="/srv/auth/latest.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef level="all" ref="console"/>
            <AppenderRef level="debug" ref="logfile"/>
        </Root>
    </Loggers>
</Configuration>
