body {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    background-color: #e3e3e3;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    flex-direction: column;
}

html {
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #003366;
    font-family: 'Fira Mono', monospace;
    text-align: center;
    color: #e3e3e3;
}

iframe {
    width: 100%;
    height: 100%;

    border: 0;
}

#content {
    clear: both;
    height: 100%;
    width: 55%;
    margin: 0 auto;
}

footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    height: auto;
    background-color: #00274f;
    padding: 15px;
    color: #e3e3e3;
}

/* Navigation der Seite:
	Realisierung als Flex-Box, um die Navigation nach Implementierung weiterer Seiten problemlos erweitern zu können */

#nav_container {
    width: 100%;
    background-color: #00274f;
    border-top: 2px solid #003366;
}

.nav-dropdown {
    height: 0;
    display: none;
    color: #e3e3e3;
}

.nav-dropdown-box {
    position: relative;
    display: block;
    top: 10px;
    width: 100%;
    height: 22px;

    color: #e3e3e3;
    background-color: #003366;
    border-top: 2px solid #003366;
    padding: 5px 10px 5px 10px;
}

.nav-dropdown-box:hover {
    position: relative;
    display: block;
    top: 10px;

    color: #e3e3e3;
    background-color: #114477;
}

nav {
    width: 60%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

nav ul li:hover {
    cursor: pointer;
    list-style: none;
    padding: 10px;
    flex-grow: 1;
    background-color: #003366;
    text-align: center;
}

nav ul li .nav-button {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #e3e3e3;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #content {
        clear: both;
        width: 90%;
        margin: 0 auto;
    }

    #discord_widget {
        width: 100%;
    }
}

/* Headlines, Fonts and Styling */

header h1 {
    font-family: "Fira Mono", monospace;
    text-shadow: 1px 1px #67909C;
}

h1 {
    font-size: 48px;
    margin: 0px;
}

h2 {
    font-size: 32px;
    margin: 10px 0px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #003366;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 25px 0px;
}

.widget {
    position: absolute;

    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: #001937;
    border-width: 1px;
    border-bottom-width: 0;
    border-radius: 16px;
    width: max-content;
    background-color: #00274f;
}

#sessionWidget {
    bottom: 110px;
    right: 25px;
}

#donate {
    bottom: 100px;
    left: 15px;
}

/* Positions-Classes:
	Extra-Klassen, die genutzt werden, um Formulare zu zentrieren */

.center {
    text-align: center;
}

#discord_widget {
    margin: 0 auto;
    width: 350px;
}

.right {
    float: right;
    margin: 20px;
}

.left {
    float: left;
    margin: 20px;
}

/* Wrapper Classes */

.fluent {
    color: inherit;
}

.fluent:hover {
    color: inherit;
}

.fluent:visited {
    color: inherit;
}
