body {
    background: #003366;
    padding-right: 0.3%;
}

.center {
    display: table;
    margin: auto auto auto auto;
}

.widebox {
    width: 100%;
    background: #00274f;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #001937;
    border-radius: 20px;
    text-align: center;
}

.centerbox {
    display: table;
    margin: auto auto auto auto;
    width: 70%;
    background: #00274f;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #001937;
    border-radius: 20px;
    text-align: center;
}

.service_name {
    color: #8ec6d3;
    text-shadow: #67909C;
    font-size: 45px;
    font-family: 'Fira Mono', monospace;
}

.service_status {
    color: #8ec6d3;
    text-shadow: #67909C;
    font-size: 32px;
    font-family: 'Fira Mono', monospace;
}

a {
    color: #8ec6d3;
    text-shadow: #67909C;
}

a:visited {
    color: #8ec6d3;
    text-shadow: #67909C;
}

a:hover {
    color: #3a718e;
    text-shadow: #453C97;
}
