<?xml version="1.0" encoding="UTF-8"?>
<data>
    <frames>
        <main>frame/main.html</main>
        <widget>frame/widget.html</widget>
    </frames>
    <panels>
        <!-- Main Panels -->
        <home>panel/main/home.html</home>
        <login>panel/main/login.html</login>
        <register>panel/main/register.html</register>
        <flowLogin>panel/main/flowLogin.html</flowLogin>

        <!-- Account related Panels -->
        <account>panel/user/account.html</account>
        <change-password>panel/user/change-password.html</change-password>

        <!-- Admin Panels -->
        <admin>panel/admin/admin.html</admin>
        <services>panel/admin/services.html</services>
        <service>panel/admin/service.html</service>
    </panels>
    <parts>
        <!-- Common Parts -->
        <header>part/common/header.html</header>
        <footer>part/common/footer.html</footer>

        <!-- Admin Parts -->
        <serviceUtils>part/admin/serviceUtils.html</serviceUtils>
        <invalidAccess>part/admin/invalidAccess.html</invalidAccess>

        <!-- Other Parts -->
        <loginUtils>part/loginUtils.html</loginUtils>
    </parts>
</data>